<!DOCTYPE html>
<html>
    <head>
        <title>Đơn vị</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./public/css/tmp.css">
    </head>
    <body>
        <div id="surface">
            <div class="container">
                <div>
                    <span style="display: inline-block;">
                        <h1>Đơn vị</h1>
                    </span>
                    <a href="" id="create">Thêm mới</a>
                </div>
                <br>
                <div id="unit-option">
                    <label for="unit-list" class="label">Loại Đơn Vị </label>
                    <select value="unit-list">
                        <option>Bộ môn</option>
                        <option>Phòng thí nghiệm</option>
                    </select>
                </div>
                <br>
                <br>
                <br>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>TT</th>
                                <th>Tên đơn vị</th>
                                <th>Loại đơn vị</th>
                                <th>Địa chỉ</th>
                                <th>Điện thoại</th>
                                <th>Website</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% units.forEach((unit, index) => { %>
                                <tr>   
                                    <th><%= index + 1 %></th>
                                    <th><%= unit.name %></th>
                                    <th><%= unit.unit_type %></th>
                                    <th><%= unit.address %></th>
                                    <th><%= unit.phone %></th>
                                    <th><%= unit.website%></th>
                                    <th><%= unit.interactive %></th>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>