<!DOCTYPE html>
<html>
    <head>
        <title>Lĩnh vực nghiên cứu</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div id="surface">
            <div class="container">
                <br>
                <div>
                    <h1>Lĩnh vực nghiên cứu</h1>
                </div>
                <br>
                <br>
                <div id="field-list">
                    <div style="margin-top: 20px;">
                        <div id="field-list-name" style="display: inline-block">
                            <h3 style="margin: 0;">Lĩnh vực</h3>
                        </div>
                        <button type="button" class="btn btn-primary">Thêm</button>
                    </div>
                    <ul class="tree">
                        <li class="has-children">
                            <img src="/image/minus.gif" onclick="javascript:Folder_Toggle(this);"/>
                            <a href="">ACM Computing Classification System</a>
                            <ul>
                                <li class="has-children">
                                    <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                    <a href="">General and refernce</a>
                                </li>
                                <li class="has-children">
                                    <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                    <a href="">Hardware</a>
                                </li>
                                <li class="has-children">
                                    <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                    <a href="">Computer systems organization</a>
                                </li>
                                <li class="has-children">
                                    <img src="/image/minus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                    <a href="">Networks</a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Thêm</button>
                                        <button type="button" class="btn btn-primary">Sửa</button>
                                        <button type="button" class="btn btn-primary">Xóa</button>
                                    </div>
                                    <ul>
                                        <li class="has-children">
                                            <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                            <a href="">Network architectures</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                            <a href="">Network protocols</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif"/>
                                            <a href="">Network components</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif"/>
                                            <a href="">Network algorithms</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif"/>
                                            <a href="">Network performance evaluation</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif"/>
                                            <a href="">Network properties</a>
                                        </li>
                                        <li class="has-children">
                                            <img src="/image/plus.gif"/>
                                            <a href="">Network services</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <img src="/image/minus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                    <a href="">Software and its engineering</a>
                                    <ul>
                                            <li class="has-children">
                                                <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                                <a href="">Test1</a>
                                            </li>
                                            <li class="has-children">
                                                <img src="/image/plus.gif" onclick="javascript:Folder_Toggle(this);"/>
                                                <a href="">Test2</a>
                                            </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/js/tree.js"></script>
    </body>
</html>