<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Trang thông tin giảng viên</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="surface home">
        <div id="header">
            <div class="container clear-fix">
                <a href="/" id="logo-page">
                    <span id="header-logo">
                        <img id="logo" src="/image/logo.png">
                    </span>
                </a>
                <div id="header-user">
                    <table id=login>
                        <tbody>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th style="font-weight: bold; color: #fff;">Xin chào, <a href="/profile"><%= name %></a></th>
                                <th>
                                    <form action="/logout" method="POST">
                                        <button class="btn btn-success" type="submit">Đăng xuất</button>
                                    </form>
                                </th>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="container clear-fix">
                <ul id="main-content">
                    <br>
                    <div>
                        <h1 id="slogan">Trang thông tin giảng viên</h1>
                    </div>
                    <br>
                    <nav class="navbar navbar-expand-sm bg-light">
                        <ul class="navbar-nav">
                            <% if (role === "admin") { %>
                            <li class="nav-item">
                                <a class="nav-link" href="unit">Đơn vị</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="field_research">Lĩnh vực nghiên cứu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="employee">Giảng viên</a>
                            </li>
                            <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="">Tìm kiếm</a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                </ul>
            </div>
        </div>
    </div>
    <% include partials/foot.ejs %>
</body>

</html>