<!DOCTYPE html>
<html>
    <head>
        <title>TS. Lê Đình Thanh</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="public/css/style.css"
    </head>
    <body>
        <div id="surface">
            <div class="container">
                <div style="display: inline-block">
                    <h1>TS. Lê Đình Thanh</h1>
                </div>
                <span>
                    <div class="component-option">
                        <img id="profile-img" class="rounded" alt="Cinque Terre" src="public/image/thanos.jpeg">
                        <div id="img-option">
                            <button type="button" class="btn" id="update-img">Cập nhật ảnh</button>
                            <button type="button" class="btn" id="del-img">Xóa ảnh</button>
                        </div>
                    </div>
                </span>
                <br>
                <br>
                <div id="information-list">
                    <ul>
                        <li>
                            <img src=""/>
                            <span>Mã cán bộ: 5</span>
                        </li>
                        <li>
                            <img src=""/>
                            <span>Chức vụ: Giảng viên</span>
                        </li>
                        <li>
                            <img src=""/>
                            <span>Bộ môn: Phòng thí nghiệm an toàn thông tin</span>
                        </li>
                        <li>
                            <img src=""/>
                            <span>Học hàm, học vị: TS</span>
                        </li>
                        <li>
                            <img src=""/>
                            <span>VNU email: thanhld@vnu.edu.vn</span>
                        </li>
                        <li>
                            <img src=""/>
                            <span>Website: </span>
                            <a href="https://uet.vnu.edu.vn/~thanhld">http://uet.vnu.edu.vn/~thanhld</a>
                        </li>
                        <li>
                            <img src=""/>
                            <span>Địa chỉ: 413-E3</span>
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <div>
                    <div>
                        <span style="display: inline-block">
                            <h2 style="margin: 0;">Chủ đề nghiên cứu</h2>
                        </span>
                        <button type="button" class="btn btn-primary create-object">Chỉnh sửa</button>
                    </div>
                    <br>
                    <div>
                        <ul>
                            <li>An toàn thông tin</li>
                            <li>Phát triển ứng dụng Web</li>
                            <li>Mạng cảm biến không dây</li>
                        </ul>
                    </div>
                </div>
                <br>
                <div>
                    <div>
                        <span style="display: inline-block">
                            <h2 style="margin: 0;">Lĩnh vực quan tâm</h2>
                        </span>
                        <button type="button" class="btn btn-primary create-object">Thêm mới</button>
                    </div>
                    <br>
                    <div>
                        <ul>
                            <li>Network security</li>
                            <li>Web application security</li>
                            <li>Web protocol security</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>