a, a:hover {
    text-decoration: none;
}
input {
    border-radius: 3px;
    border: none;
}
ul, li {
    list-style: none;
}
.container {
    max-width: 1140px;
    margin: auto;   
}
.clear-fix:after {
    display: block;
    content: "";
    clear: both;
}
#header {
    max-width: 100%;
    background-color:rgb(71, 141, 50);
}
#header-user {
    float: right;
}
table#login tbody tr th {
    font-weight: normal;
    padding-right: 10px;
}
.input-topbar {
    display: inline-block;
    margin-right: 10px;
}
.input-box {
    padding-left: 5px;
}
#forgot-password {
    display: block;
}
#login-btn {
    padding: 0 3px;
}
#slogan {
    text-align: center;
    font-family: 
}
#search-bar {
    min-width: 300px;
    font-size: 17px;
    width: 50%;
    height: 30px;
    background-color: rgb(158, 219, 97);
    position: relative;
    left: 25%;
    z-index: 1;
}
.create-object {
    float: right;
}
.component-option {
    float: right;
}
.employee-option {
    display: inline;
    margin-right: 30px;
}
label {
    font-weight: bold; 
}
#profile-img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
#field-list {
    padding: 0 20px;
    border: 1px solid grey;
}
