body {
    color: #171F2A;
}
a, a:hover {
    text-decoration: none;
}
input {
    border-radius: 3px;
    border: none;
}
ul, li {
    list-style: none;
}
button:hover {
    opacity: 0.8;
}
.container {
    max-width: 1140px;
    margin: auto;   
}
.clear-fix:after {
    display: block;
    content: "";
    clear: both;
}
#header {
    max-width: 100%;
    background-color:rgb(0, 134, 0);
}
/* Login page */
#logo {
    width: 80px;
    height: 80px;
}
#header-user {
    float: right;
}
table#login tbody tr th {
    font-weight: normal;
    padding-right: 10px;
}
.input-topbar {
    display: inline-block;
    margin-right: 10px;
}
.input-box {
    padding-left: 5px;
}
#forgot-password {
    display: block;
}
#login-btn {
    padding: 0 3px;
}
#slogan {
    text-align: center;
}
#search-bar {
    min-width: 300px;
    font-size: 17px;
    width: 50%;
    height: 30px;
    background-color: rgb(158, 219, 97);
    position: relative;
    left: 25%;
    z-index: 1;
}
#home {
    background-image: url('../image/background1.jpg')
}
/*  */
.create-object {
    float: right;
}
.component-option {
    float: right;
}
.employee-option {
    display: inline;
    margin-right: 30px;
}
label {
    font-weight: bold; 
}
.create-label {
    width: 120px;
}
.create-label ~ input {
    border: 1px solid gray;
}
#profile-img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
#information-list ul li {
    margin-bottom: 10px;
}
.info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/* Field tree */
#field-list {
    padding: 0 20px;
    border: 1px solid grey;
}
.field-option {
    right: 0px;
}
/* Pop up Form */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/*  */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.sub-container {
    margin: auto;
}
.sub-container button[type='submit'] {
    margin: auto;
    display: block;
}
.sub-container button[id='addEmpl'] {
    margin: auto;
    display: block;
}
.sub-container input {
    width: 50%;
}
thead tr {
    background-color: #9BCA3B;
}
.table-edit {
    display: inline-block;
}
/* Interactive */
.interactive {
    text-align: center;
}